body{
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px;
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	height: 50%;
	vertical-align: top;
	box-sizing: border-box;
	margin: 0 1.5%;
	padding: 30px 20px;
	border: solid #000000 2px;
	border-radius: 20px;
	transition: all 0.5s;
}

.produtos li:hover{
	border-color: #C78C19;
	transform: scale(1.2);
}

.produtos li:active{
	border-color: green;
}

.produtos h2{
	font-size: 30px;
	font-weight: bolder;
}

.descricao{
	font-size: 18px;
}

.preco{
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

footer{
	background: url(imagens/bg.jpg);
	text-align: center;
}

.copyright{
	color: whitesmoke;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 0px;
}

form {
	margin: 40px 0;
}

form label, p, legend{
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.input-padrao{
	display: block;
	margin-bottom: 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox{
	margin: 20px 0;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background-color: orange;
	color: white;
	font-size: 18px;
	font-weight: bold;
	border:none;
	border-radius: 5px;
	transition: 0.5s all;
	cursor: pointer;
}

.enviar:hover{
	background-color: darkorange;
	transform:scale(1.2);
}

table{
	margin: 20px 0 40px
}

thead{
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th{
	border: #000000 solid 2px;
	padding: 5px 10px;
}

.contato-conteudo{
	width: 940px;
	margin: 0 auto;
}

/* Css da página inicial */
.banner{
	width: 100%;
}

.principal{
	padding: 3em 0;
	background: #FEFEFE;
}

.principal-conteudo{
	width: 940px;
	margin: 0 auto;
}

.titulo-principal{
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal p{
	margin: 0 0 1em;
}

strong {
	font-weight: bold;
}

em{
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE,#888888);
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.mapa p{
	margin-bottom: 2em;
	text-align: center;
}

.video{
	width: 560px;
	margin: 1em auto;
	margin-bottom: 0px;
	padding-bottom: 1em;
}

.beneficios{
	background: linear-gradient(#888888,#0e0e0e);
}

.beneficios-conteudo{
	width: 940px;
	margin: 0 auto;
}

.beneficios ul {
	display: flex;
	vertical-align: top;
	justify-content: center;
	padding-bottom: 1em;
}

.imagem-beneficios{
	width: 60%;
	opacity: 0.3;
	transition: 0.5s;
}

.imagem-beneficios:hover{
	opacity: 1;
}

.itens {
	box-sizing: border-box;
	width: 25%;
	margin: 0 1em;
	padding: 15px;
	border: 2px black solid;
	border-radius: 20px;
	align-items: center;
	transition: 0.5s all;
}

.itens p{
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}

.itens img{
	box-sizing: border-box;
	width: 100%;
	padding-bottom: 20px;
}

.itens:hover{
	border-color: #C78C19;
	transform:scale(1.2);
}

.itens:active{
	border-color: green;
}

/* Responsividade para mobile */

@media screen and (max-width: 480px){
	.caixa, .produtos, .principal-conteudo, .mapa-conteudo, .beneficios-conteudo, .video, main, body, .contato-conteudo{
	width: auto;
	}

	.beneficios-conteudo ul{
		width: auto;
		display: flex;
		flex-direction: column;
	}

	.itens{
		width: auto;
		margin: 10%;
	}

	h1 {
		text-align: center;
	}

	nav{
		position: static;
		text-align: center;
	}
	nav li:first-child{
		margin:0;
	}
	nav li a{
		font-size: 20px;
	}
	.produtos{
		width: auto;
		display: flex;
		flex-direction: column;
		padding: 5px
	}

	.produtos li{
		padding: 5px;
		width: auto;
		margin: 10%
		
	}

	.main-contato{
		text-align: center;
		align-content: center;
	}

	.input-padrao{
		padding: 5px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.enviar{
		width: 90%;
	}

	table{
		margin: 10px auto;
	}
}